{% extends 'base.twig' %}

{% block content %}
    {% if novels %}

    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Title</th>
            <th>Actors</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
            {% for novel in novels %}
            <tr>
                <td><a href="{% url 'novel' id=novel.id %}">{% firstof novel.title novel.file.name %}</a></td>
                <td>
                    {% for actor in novel.matchers.all %}
                        {{ actor }},
                    {% endfor %}
                </td>
                <td>{{ novel.file.size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No documents.</p>
    {% endif %}
{% endblock %}