{% extends 'base.twig' %}

{% block content %}
    {% if novels %}
        <ul>
        {% for novel in novels %}
            <li><a href="{% url 'novel' id=novel.id %}">{{ novel.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
{% endblock %}