{% extends 'base.twig' %}

{% block content %}

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <img id="panel_image" src="">
        </nav>

        <!-- Page Content -->
        <div id="content">
            <div id="txt">
                <!-- We'll fill this with dummy content -->
                {% for line in content %}
                    <span>[{{ line.n }}]{{ line.text }}</span>
                    <br>
                {% endfor %}
            </div>
        </div>

    </div>


    {{ images|json_script:"images" }}


{% endblock %}