<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ novel.title }}</title>   
    </head>
    <body>
    {% for line in content %}
        <span>{{ line }}</span><br>
    {% endfor %}
    </body>
</html> 