{% extends 'base.twig' %}

{% block content %}

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <img src="/media/documents/2020/07/23/2020-02-07_083647.png">
        </nav>

        <!-- Page Content -->
        <div id="content">
            <div id="txt">
                <!-- We'll fill this with dummy content -->
                {% for line in content %}
                    <span>[{{ line.n }}]{{ line.text }}</span>
                    <br>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %}