{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% for actor in actors %}

        <div class="col">
            <div class="card dpg-album-card">
                <div class="card-image">
                    <img src="{{ actor.thumb.url }}" alt="{{ actor.name }}" class="dpg-album-card-image" />
                </div>
                <div class="card-content">
                    <span class="card-title">{{ actor.name }}</span>
                    <p>{{ actor.description|truncatechars:120 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'image' actor.slug %}">
                        More Images
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if actors.has_previous %}
        <a href="?page={{ actors.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if actors.has_next %}
        <a href="?page={{ actors.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}